@using Microsoft.AspNet.Identity

@{/*
    string[] htmluser = Request.LogonUserIdentity.Name.Split('\\');
    string userID = htmluser[1];
    USID.UserSID = userID;*/
 }

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("CURRENT USER: " + USID.UserSID, "Index", "Home")</li>
        

    </ul>

